.img{

    background-image: url("/static/backgroundimg.jpg");

    background-attachment: fixed;

    background-size: no-repeat;

    background-position: center;

    background-size: cover;

    height: 400px;

    width: 400px;

}
